{% extends 'loggedin.html' %}
{% load static %}
{% block container %}
    {% block extra-css %}
     <link rel="stylesheet" href="{% static 'followers.css' %}">
    {% endblock %}
 <div class="container">
   <h3 class="text-info">Users : </h3><hr>
  {% for user in users %}
     <div style="border: 1px solid lightblue;margin-top:5px;border-radius: 5px;padding: 5px; box-shadow: 0 1px 2px 0 lightblue, 0 2px 10px 0 lightblue;">
     <table width="100%">
           <tr>
               <td><i class="fa fa-user"></i>  {{ user.username }}</td>
               {% if user.username in followlist %}
                 <td><a href="{% url 'unfollow' pk=user.pk %}">unfollow</a></td>
               {% else %}
                   <td><a href="{% url 'follow' pk=user.pk %}">Follow</a></td>
               {% endif %}
           </tr>
       </table>
     </div>
  {% endfor %}
 </div>
{% endblock %}