<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    {% load staticfiles %}
<title>Home</title>
<link rel="icon" TYPE="image" href="{% static 'site-icon.png' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
 {% block extra-css %}
 {% endblock %}
<title>Title</title>
</head>
{% endblock %}
<body bgcolor="#e9ecef5e">
  {% block header %}
   <div class="jumbotron text-center text-success">
    <h1 class="display-4" style="font-family: 'Ink Free';font-weight: bold">Follow Me<sub style="font-weight: normal;font-size: small">to be a nerd</sub></h1>
    <h5 style="padding-bottom: 4px;color:mediumseagreen;">share your knowledge here</h5>
   </div>
  {% endblock %}
  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-success" href="{% url 'home' %}" style="font-family: 'Ink Free';font-weight: bold">Follow Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
          {% block logout %}
        <li class="nav-item"><a class="nav-link text-info" style="font-weight: bold" href="{% url 'signup' %}"><i class="fa fa-user"></i>  sign-up</a></li>
          {% endblock %}
      </ul>
    </div>
  </nav>
  {% endblock navbar %}

  {% block container %}
      <div class="container-fluid" style="background-color: #e9ecef5e;padding-bottom: 15px">
        <img src="{% static 'background.gif' %}" style="float: left;" width="350" height="270">
      <form class="loginform" method="post" action="/login/">
          {% csrf_token %}
          <div class="form-group">
              <label for="username">Username:</label>
              {{ form.username }}
           </div>
          <div class="form-group">
              <label for="pwd">Password:</label>
              {{ form.password }}
          </div>
          <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
              </label>
          </div>
            <button type="submit" class="btn btn-info">Submit</button>
          <button type="button" class="btn btn-info"><a href="{% url 'password_reset' %}">forgot password</a></button>
       </form>
  </div>
  {% endblock container %}
  {% block footer %}
  <div class="container-fliud text-success" style="text-align: center;background-color: #e9ecef5e;margin-top: 0px">
    <hr style="margin-top: 0px">
    <h5 class="text-info">Follow me - is a host where you can share your knowledge to others who follows.</h5><br>
  </div>
  {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
</body>
</html>
