{% extends 'home.html' %}
{% load static %}
{% block extra-css %}
  <link rel="stylesheet" href="{% static 'timeline.css' %}">
{% endblock %}
{% block header %}
{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="nav  nav-white" id="log">
      <li class="nav-item active px-0">
        <a class="nav-link" href="{% url 'loggedin' %}"><i class="fa fa-home" style="color:lightslategrey;font-size:30px"></i></a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link" href="{% url 'followers' pk=user.pk %}"><i class="fa fa-group" style="color:lightslategrey;font-size:30px"></i></a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link" href="{% url 'profile' pk=user.pk %}"><i class="fa fa-user" style="color:lightslategrey;font-size:30px"></i></a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link" href="{% url 'friends' %}"><i class="fa fa-user-plus" style="color:lightslategrey;font-size:30px"></i></a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" style="color:lightslategrey;font-size:30px"></i></a>
      </li>
    </ul>
  </nav>
{% endblock %}
{% block container %}
    <div class="container" style="background-color: #f8f9fa">
    <form method="post" action="/post/">
        {% csrf_token %}
       <div class="form-group">
         <label for="write your post"><h4 class="text-info">Write your post : </h4></label>
         {{ form.text }}
       </div>
     <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <hr>
  {% for post in posts %}
    <div class="layout">
    <div class="user">
       <img style="border-radius: 50%;" src="{{ post.username.user_details.image.url }}" alt="not uploaded" width="50px" height="50px">
    </div>
    <div class="content">
       <p>by <strong><span style="color: blue;"><a href="{% url 'profile' pk=post.username.pk %}">{{ post.username }}</a></span> </strong> at <strong>{{ post.published_date }}</strong></p>
       <p class="text-success">{{ post.text }}</p>

        <table class="tabl" width="100%">
           <tr>
               {% if post.id in likes %}
                  <td><a href="{% url 'delete_like' pk=post.pk %}"><i class="fa fa-thumbs-down" style="font-size:20px;color:blue"></i> unlike :({{ post.likes_set.count}})</a></td>
               {% else %}
                   <td><a href="{% url 'add_like' pk=post.pk %}"><i class="fa fa-thumbs-up" style="font-size:20px;color:blue"></i> Like :({{ post.likes_set.count}})</a></td>
               {% endif %}
               <td><a href="{% url 'post_details' pk=post.pk %}"><i class="fa fa-comment" style="font-size:20px;color:blue"></i> Comments:({{post.comments_set.count}})</td>
           </tr>
       </table>
      </div>
    <hr>
  </div>
  {% endfor %}
     {% with posts as items %}
            {% if items.has_other_pages %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if items.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo; prev</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo; prev</span></a></li>
                        {% endif %}

                        {% if items.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">next &raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#"><span>next &raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>

            {% endif %}
        {% endwith %}
    </div>
{% endblock %}


